* {
	margin-top: 0;
}
.nav {
	display: flex;
}
.nav img {
	max-height: 56.2rem;
	margin-left: -0.47rem;
	margin-right: -0.47rem;
}
.ttle {
	margin: 0.7rem 0 0 -82rem;
}
.ttle h2 {
	color: #24252a;
	font-size: 3.5em;
	font-family: 'WindSong';
	text-transform: capitalize;
}
.nav-bar {
	display: flex;
	margin: 2rem 3rem 0 auto;
}
.nav-op {
	margin-right: 10rem;
}
.nav-bar .nav-op:nth-child(4) {
	margin-right: 0;
}
.nav-op li {
	color: #24252a;
  text-transform: uppercase;
  list-style-type: none;
  font-family: 'Poppins';
  font-size: 1.1em;
}
.nav-op li a {
	color: #24252a;
  text-decoration: none;
  transition: 0.6s ease 0s;
}
.ttl_bar {
	background: #90c3f2;
	width: auto;
	height: 4.5rem;
	margin: 0 -0.47rem 0 -0.47rem;
}
.ttl_bar h2 {
	color: #24252a;
	font-size: 3em;
	font-family: 'Anton';
	text-transform: uppercase;
	text-align: center;
}
.stp-cpt {
	display: flex;
	margin-top: 2.5rem;
	margin: 2.5rem 4.5rem 3rem 4.5rem;
}
.stp-cpt img {
	max-width: 35rem;
	border-radius: 0.5rem;
}
.cpt_desc {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.cpt_desc h2 {
	color: #24252a;
	font-size: 2.5em;
	font-family: 'Poppins';
	font-weight: bold;
	text-transform: capitalize;
}
.cpt_desc p {
	color: #24252a;
	font-size: 1em;
	font-family: 'Montserrat';
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: -1.5rem;
}
.abt_main img {
	max-width: 23rem;
	border-radius: 0.5rem;
}
.abt_main h2 {
	color: #24252a;
	font-size: 2.5em;
	font-family: 'WindSong';
}