* {
	margin-top: 0;
}
.nav {
	display: flex;
}
.nav img {
	max-height: 56.2rem;
	margin-left: -0.47rem;
	margin-right: -0.47rem;
}
.ttle {
	margin: 0.7rem 0 0 -82rem;
}
.ttle h2 {
	color: #24252a;
	font-size: 3.5em;
	font-family: 'WindSong';
	text-transform: capitalize;
}
.nav-bar {
	display: flex;
	margin: 2rem 3rem 0 auto;
}
.nav-op {
	margin-right: 10rem;
}
.nav-bar .nav-op:nth-child(4) {
	margin-right: 0;
}
.nav-op li {
	color: #24252a;
  text-transform: uppercase;
  list-style-type: none;
  font-family: 'Poppins';
  font-size: 1.1em;
}
.nav-op li a {
	color: #24252a;
  text-decoration: none;
  transition: 0.6s ease 0s;
}
.ttl_bar {
	background: #90c3f2;
	width: auto;
	height: 4.5rem;
	margin: 0 -0.47rem 1.5rem -0.47rem;
}
.ttl_bar h2 {
	color: #24252a;
	font-size: 3em;
	font-family: 'Anton';
	text-transform: uppercase;
	text-align: center;
}
.stp-cpt {
	display: flex;
	margin-top: 2.5rem;
	margin: 2.5rem 4.5rem 3rem 4.5rem;
}
.stp-cpt img {
	max-width: 35rem;
	border-radius: 0.5rem;
}
.cpt_desc {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.cpt_desc h2 {
	color: #24252a;
	font-size: 2.5em;
	font-family: 'Poppins';
	font-weight: bold;
	text-transform: capitalize;
}
.cpt_desc p {
	color: #24252a;
	font-size: 1em;
	font-family: 'Montserrat';
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: -1.5rem;
}
.abt {
	justify-content: center;
}
.cofs {
	display: flex;
	margin-top: 4.5rem;
}
.tifab_pg {
	margin-bottom: 4.5rem;
}
.tifab_pg p {
	color: #24252a;
	font-size: 1.1em;
	font-family: 'Poppins';
	text-transform: lowercase;
	text-align: center;
	margin-left: 20rem;
	margin-right: 20rem;
	margin: 1.5rem 20rem 0 20rem;
}
.abt_main img {
	display: block;
	max-width: 30rem;
	border-radius: 0.5rem;
	margin: 0 auto 0 auto;
}
.abt_main h3 {
	color: #49f4d2;
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.5rem;
}
.abt_main h2 {
	color: #24252a;
	font-size: 2.5em;
	font-family: 'WindSong';
	text-transform: capitalize;
	text-align: center;
	margin-top: -1.2rem;
}
.abt_main p {
	color: #24252a;
	font-size: 1.1em;
	font-family: 'Poppins';
	text-align: center;
	margin: -1.5rem 27rem 0 27rem;
}
.cofs .abt_main p {
	margin-left: 5.5rem;
	margin-right: 5.5rem;
}